<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title></title>
    <style>#addForm {
        display: none;
    }</style>
    <style>
        .nav-link {
            color: rgba(12, 105, 128, 0.99);
        }

        .btn-outline-success {
            color: rgba(12, 105, 128, 0.99);
        }

        h1 {
            color: rgba(12, 105, 128, 0.99);
        }
        * { box-sizing: border-box; }
        .video-background {
            background: #000;
            position: fixed;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -99;
        }
    </style>
</head>

<style>
    .nav-link{
        color: black;
    }
    .btn-outline-success{
        color: black;
    }
</style>

<nav th:fragment="navbar">
    <div style="background-color: #f67f27">
        <div style="justify-content: center">
            <h1>Concert Punk</h1>
        </div>
        <form class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/events/edit/eventToEdit.id">Edit Events</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/users/viewFollowers">Following</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/events/create">Create new event</a>
            </div>
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </form>
    </div>
</nav>

<h3>Viewing all events</h3>
<!--Form Model biNDING-->
<div th:each="event : ${events}">
    <h3 th:text="${event.title}">Title</h3>
    <div th:text="${event.description}"></div>
    <div th:text="*{event.location}"></div>
    <div th:text="*{event.startTime}"></div>
    <div th:text="*{event.endTime}"></div>
    <p>Owner: <span th:text="${event.owner.username}"></span></p>
<!--    <a href="#" class="showForm" id="${event.id}">Add comment</a>-->
    <form th:action="@{|/addComment/${event.id}|}" class="addForm" th:method="post">
        <textarea name="commentText" ></textarea>
        <input type="submit" class="commentBtn" name="commentTextInput">
    </form>



    <div th:each="comment:${event.getComments()}">
        <a th:href="@{|/profile/${comment.user.id}|}">  <span th:text="${comment.user.username}"></span></a>
        <div th:text="${comment.comment_text}"></div>

        <form th:action="@{|/deleteComment/${comment.id}|}" class="deleteBtn" th:method="post">
            <button th:if="${theCurrentUser.getId() == comment.user.id}" class="btn btn-danger" type="submit" name="deleteCommentText">
                Delete Comment
            </button>
            <button th:if="${adminCheck}" class="btn btn-danger" type="submit" name="deleteCommentText">
                Delete Comment
            </button>
        </form>

    <a th:href="@{|/events/${event.id}|}">View Event</a>

<!--    <p>Owner: <span th:text="${event.owner.username}"></span> </p>-->



</div>


</html>
