<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head th:fragment="head">-->

<!--    <h2>Welcome into the world of Concert Punk!</h2>-->
<!--</head>-->
<!--</html>-->
<!--</html>-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="https://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head th:fragment="head">&ndash;&gt;-->

<!--&lt;!&ndash;    <h2>Welcome into the world of Concert Punk!</h2>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
