<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="partials :: partials"></th:block>
<body>  <nav th:replace="partials :: navbar"></nav>

            <div class="nav-item">
                <div sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/events"><span th:text="${#authentication.principal.username}"/> created Events</a>
                </div>
            </div>



    <div sec:authorize="isAuthenticated()">
        <h1  style="color:white">Welcome <span th:text="${#authentication.principal.username}"/>!</h1>
    </div>

    <div th:if='${theCurrentUser}'>
        <form th:action="@{/admin/AdminHome}">
            <button class="btn btn-primary" type="submit">
                Admin Home
            </button>
        </form>
    </div>
</body>



</html>
