<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="partials :: partials"></th:block>
<body>  <nav th:replace="partials :: navbar"></nav>

<div class="nav-item">
    <div sec:authorize="isAuthenticated()">
        <a class="nav-link" href="/events"><span th:text="${#authentication.principal.username}"/> created Events</a>
    </div>
</div>



<script>
    $.ajax({
        type: "GET",
        url: `https://api.seatgeek.com/2/events/${api_id}?client_id=MjM5OTczOTd8MTYzNDY3MzY2Ni42ODE5ODE&geoip=true`,
        async: true,
        dataType: "json",
        success: function (res) {
            console.log(res)

            const savedEvent = {
                api_id: res.id,
                title: res.title,
                location: res.venue.name,
                startTime: res.datetime_local,
            }
            saveEvent(savedEvent);
        }
    })
</script>
<div th:each="event : ${User.events}">
    <h3 th:text="${event.title}"></h3>
    <img th:src="${event.getPhotos().get(0).imageUrl}">
    <div th:text="*{event.location}"></div>
    <div th:text="*{event.startTime}"></div>




<div sec:authorize="isAuthenticated()">
    <h1  style="color:white">Welcome <span th:text="${#authentication.principal.username}"/>!</h1>
</div>

<div th:if='${theCurrentUser}'>
    <form th:action="@{/admin/AdminHome}">
        <button class="btn btn-primary" type="submit">
            Admin Home
        </button>
    </form>

</div>
</div>
</body>
</html>