<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="partials :: partials"></th:block>
<body>  <nav th:replace="partials :: navbar"></nav>


<div sec:authorize="isAuthenticated()">
    <h1  style="color:white">Welcome <span th:text="${#authentication.principal.username}"/>!</h1>
</div>


<div th:each="event : ${User.events}">
    <h3 style="color:white" th:text="${event.title}"></h3>
    <div th:if="${event.getPhotos().size() != 0}">
    <img th:src="${event.getPhotos().get(0).imageUrl}">
    </div>
    <div style="color:white" th:text="*{event.location}"></div>
    <div style="color:white" th:text="*{event.startTime}"></div>






<div th:if='${theCurrentUser}'>
    <form th:action="@{/admin/AdminHome}">
        <button class="btn btn-primary" type="submit">
            Admin Home
        </button>
    </form>

</div>
</div>
</body>
</html>