<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form th:action="@{|/users/edit|}" th:method="post" th:object="${userToEdit}">

    <input type="text" th:field="*{username}" placeholder="username">
    <input type="text" th:field="*{email}" placeholder="email">
    <input type="submit">
</form>


<br>
<br>
<br>

<form id="id" th:action="@{/users/delete}" th:method="post"
     onsubmit="return confirm('Are you sure you want to Delete your account?');">
    <input class="btn btn-danger" type="submit" name="submit" value="Delete Account" />
</form>
</body>
</html>
