<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Logout</title>
</head>
<style>
    .nav-link {
        color: rgba(12, 105, 128, 0.99);
    }

    .btn-outline-success {
        color: rgba(12, 105, 128, 0.99);
    }

    h1 {
        color: rgba(12, 105, 128, 0.99);
    }
    * { box-sizing: border-box; }
    .video-background {
        background: #000;
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -99;
    }
</style>

<body>

<div th:replace="partials/navigation.html :: navbar">
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>
