<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Logout</title>
</head>
<link rel="stylesheet" href="/css/sidebar.css">
<head th:replace="partials :: partials"></head>

<body>

<nav th:replace="partials :: navbar"></nav>
<h1 style="color:white">Logout</h1>

</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Logout"/>-->
<!--</form>-->

<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>