<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="partials :: partials"></th:block>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/seachPageCss.css">
    <script src="/keys.js"></script>
    <title></title>

</head>


<nav th:replace="partials :: navbar"></nav>

<body>

<div class="searchBar">
    <form>
        <label for="search-input"></label><input id="search-input" type="text" name="Search Artist"/>
        <input id="add-artist" type="submit" value="Search"/>
    </form>
</div>

<div class="searchResults">
    <p id="concertSchedule" style="display: flex; flex-wrap: wrap"></p>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" id="detailsModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Artist Details</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Preview Tracks</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Similar Artists</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="artistInfo">
                    </div>
                </div>

                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div id="relatedArtistContainer"></div>
                </div>

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table table-hover table-dark" id="tableId">
                        <thead>
                        <div id="playerWrapper">
                            <div id="player"></div>
                        </div>
                        <tr class="videoToggler">

                            <th scope="col"></th>
                            <th scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Dur</th>
                            <th scope="col">Plays</th>
                        </tr>
                        </thead>
                        <tbody id="youtubeData">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

<p><span id="youTube"></span></p>

<style>
    .playerButton:hover{
        color: purple;
        cursor: pointer;
    }
</style>


<script src="/js/spotify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/youAPI.js"></script>
<script src="/js/ticketMasterAPI.js"></script>


</body>
</html>
