!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="partials :: partials"></th:block>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <nav th:replace="partials :: navbar"></nav>

</head>

<style>
    .searchResults {
        display: flex;
        justify-content: center;
        align-content: center;
    }

</style>


<body>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="playerWrapper">
    <div id="player"></div>
</div>


<!--<p class="videoToggler" data-id="uMyuSHewmks">Press here to play Naruto Intro</p>-->
<!--<p class="videoToggler" data-id="tgbNymZ7vqY">Press here to play Muppets</p>-->
<form>
    <label for="search-input"></label><input id="search-input" type="text" name="Search Artist"/>
    <input id="add-artist" type="submit" value="Search"/>
</form>

<div class="searchResults">
    <p id="concertSchedule"></p>
</div>

<div id="relatedArtistContainer"></div>

<script>

    let vidWidth = 400;
    let vidHeight = 300;
    let vidResults = 10;


    //The q parameter specifies the query term to search for.
    // run get request on api
    function youtubeSearch(q) {
        $.get(
            "https://www.googleapis.com/youtube/v3/search", {
                part: "snippet, id",
                q: q,
                type: "video",
                maxResults: vidResults,
                key: 'AIzaSyBylEuSlqvJ3UM2PPqrRkW2vNPZQo1ccuo',

            },
            function (youTubeBasicData) {
                let output;
                $.each(youTubeBasicData.items, function (i, item) {

                    console.log(item);
                    let videoId = item.id.videoId;
                    // document.getElementById('youTube').innerHTML  += '<li><iframe height="' + vidHeight + '" width="' + vidWidth + '" src=\"https://www.youtube.com/embed/' + videoId + '\"></li>';
                    $("#youTube").html(output);
                    //  console.log(item.snippet.description);


                    let durationUrl = 'https://www.googleapis.com/youtube/v3/videos?part=contentDetails&id=' + videoId + '&key=AIzaSyBylEuSlqvJ3UM2PPqrRkW2vNPZQo1ccuo'
                    let viewCountUrl = 'https://www.googleapis.com/youtube/v3/videos?part=statistics&id=' + videoId + '&key=AIzaSyBylEuSlqvJ3UM2PPqrRkW2vNPZQo1ccuo'
                    axios.get(durationUrl).then(resp => {
                        //1.Duration and plays dont always match appropriate track, will need to match everything by the videoID
                        //2.I need to iterate through them not happening so far
                        axios.get(viewCountUrl).then(response => {
                            //Grabbing onclick action on the table rows just need to plug in function/variable to pass videourl to play it.
                            let dynamicBoii = `   <tr data-id="${item.id.videoId}" class="videoToggler" >
                        <th scope="row"><a href=""> <span class="material-icons">
    play_circle

  </span></a></th>
                        <td id="description">${item.snippet.title}</td>
                        <td id="artist">${item.snippet.channelTitle}</td>
                        <td id="duration">${resp.data.items[0].contentDetails.duration}</td>
                        <td id="viewCount">${response.data.items[0].statistics.viewCount}</td>
                    </tr>`;
                            document.getElementById('youtubeData').innerHTML += dynamicBoii;

                            console.log(response.data)
                            console.log(response.data.items[0].statistics.viewCount)

                        })


                        console.log(resp.data);
                    });


                });

            }
        );
    }


    $(document).on("click", "#add-artist", function (event) {
        event.preventDefault();
        let q = $("#search-input").val().trim();
        youtubeSearch(q);


    });

    $(document).on("click", ".search-keyword", function () {
        let q = $(this).text();
        youtubeSearch(q);
    });

    //Sams Script
    let player = null;
    let tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    let firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function onYouTubeIframeAPIReady() {
        console.log("youTube is ready")
        $(document).on("click", 'tr.videoToggler', function () {
            let youTubeId = $(this).attr('data-id');

            document.querySelector("#playerWrapper").innerHTML = `<div id="player"></div>`


            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: youTubeId,
                playerVars: {
                    'playsinline': 1
                },
                events: {
                    'onReady': onPlayerReady,
                }
            });

        })
        // document.querySelectorAll("tr.videoToggler").forEach(function (e) {
        //     e.addEventListener("click", function (e) {
        //         console.log("Triggering channge");
        //     })
        // })


    }


    function onPlayerReady(event) {
        console.log(event.target)

        event.target.playVideo();
        event.target.setVolume(100);
    }


</script>
<script>function handleSearch(artist) {
    console.log(artist);
    let queryURL = "https://app.ticketmaster.com/discovery/v2/events.json?&countryCode=US&sort'date,asc'&keyword=" +
        artist + "&apikey=oiPygQlAdZyxwwtbOi99vUDR8HTGkuV8"
    console.log(queryURL)
    $.ajax({
        type: "GET",
        url: queryURL,
        async: true,
        dataType: "json",
        success: function (response) {
            if (response.hasOwnProperty('_embedded')) {
                console.log("It has property embedded");
                let evts = response._embedded.events;
                let concertHeader;
                for (let i = 0; i < 5; i++) {
                    console.log(response._embedded.events[i]);
                    let concertDiv = $("<div class='item'>");
                    let tourName = evts[i].name;
                    let tourDate = evts[i].dates.start.localDate;
                    let tourTime = evts[i].dates.start.localTime;
                    let tourTimeC = moment(tourTime, "HH:mm").format('hh:mm a');
                    let venue = evts[i]._embedded.venues[0].name;
                    let showCity = evts[i]._embedded.venues[0].city.name;
                    let showState = evts[i]._embedded.venues[0].state.stateCode;
                    let buyLink = evts[i].url;
//                     let results = `<p style="color:white">Artist/Tour Name:${tourName}</p>
//
//                      <p style="color:white">Concert Date:${tourDate}</p>
//                       <p style="color:white">Time:${tourTimeC}</p>
// <p style="color:white">Venue:${venue}</p>
// <p style="color:white">${showCity}</p><p style="color:white">${showState}</p>
// <p style="color: rgba(12, 105, 128, 0.99)">Ticket Link:</p><a href="${buyLink}"><p style="color: rgba(12, 105, 128, 0.99)">Click Here for Tickets</p></a>`
                    let results =`<div class='d-inline-block'>
             <div class='card' style='width: 18rem;'>
            <a id="url" href="<p style="color:white">Artist/Tour Name:${tourDate}</p>"><img class="card-img-top" src='${image}' alt=' img'><a>
            <div class='card-body'><h2> <strong>${tourTimeC}</strong> </h2> </div>;
            <div class='card-text'><h3> ${venue}</h3> </div>;
            <div class="card-text"><p>${showCity}</p>
<!--            <div class='card-text'><p>${concerts.datetime_local}</p></div>;-->

                <div><button class="saveEvent" data-id="${concerts.id}" type="submit">Save</button></div>
    </div><br>`
                    // let results = $("<div class='searchResult'>").html("<strong>Artist/Tour Name: " + tourName + "</strong><br>" +
                    //     "Concert Date: " + tourDate + " Time: " + tourTimeC + "<br>" +
                    //     "Venue: " + venue + " - " + showCity + ", " + showState + "<br>" +
                    //     "Ticket Link: " + "<a href='" + buyLink + "' target=_'blank'>Click Here for Tickets</a>" + "<br>");
                    concertDiv.prepend(results);
                    $("#concertSchedule").append(concertDiv);
                }
            } else {
                $("#concertSchedule").html("<em>" + "There currently isn't any event information for " + artist + ".</em>");
            }
        },
        error: function (xhr, status, err) {
            // This time, we do not end up here!
        }
    });
}

$(document).on('click', '#add-artist', function (event) {
    event.preventDefault();
    let artist = $("#search-input").val().trim();
    console.log(artist);
    handleSearch(artist);
})
</script>
<br>
<br>
<br>

<p><span id="youTube"></span></p>
<table class="table table-hover table-dark" id="tableId">
    <thead>
    <tr class="videoToggler">

        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Artist</th>
        <th scope="col">Dur</th>
        <th scope="col">Plays</th>
    </tr>
    </thead>
    <tbody id="youtubeData">

    </tbody>
</table>

<script>$(document).ready(function () {
    let clickedKeyword = "";

    function createAccessToken(callback) {
        let queryURL = "https://accounts.spotify.com/api/token";
        $.ajax({
            url: queryURL,
            method: "POST",
            data: {
                "grant_type": "client_credentials"
            },
            headers: {
                "Authorization": "Basic " + btoa("e81f9ea2e64e43cb834bd3488f779729" + ":" + "3850ad8ffc3c46babb2c6526acb943da")
            }
        }).done(function (response) {
            console.log(response.access_token);
            sessionStorage.setItem("accessToken", response.access_token);
            callback(response.access_token);
        });

    }


    function getAccessToken(callback) {
        let accessToken = sessionStorage.getItem("accessToken");
        if (accessToken !== null) {
            callback(accessToken);
        } else {
            createAccessToken(callback);
        }
    }

    function searchWithToken(accessToken) {
        let artist = $("#search-input").val().trim();
        spotifySearch(accessToken, artist);
        $("#displayArtist").text(titleCase(artist));
    }

    function reSearch(accessToken) {
        spotifySearch(accessToken, encodeURI(clickedKeyword));
    }

    function spotifySearch(accessToken, artist) {
        console.log(accessToken);
        let queryURL = "https://api.spotify.com/v1/search?q=" + artist + "&type=artist&market=US&limit=10";
        console.log(queryURL);
        console.log(artist);
        $.ajax({
            url: queryURL,
            method: "GET",
            headers: {
                "Authorization": "Bearer " + accessToken,
            }
        }).done(function (response) {
            let results = response;
            console.log(results);
            let artistID = results.artists.items[0].id;
            // console.log(results.artists.items[0]);
            spotifyRelatedArtist(accessToken, artistID);
        });

    }


    function spotifyRelatedArtist(accessToken, artistID) {
        let queryURL = "https://api.spotify.com/v1/artists/" + artistID + "/related-artists";
        $.ajax({
            url: queryURL,
            method: "GET",
            headers: {
                "Authorization": "Bearer " + accessToken,
            }
        }).done(function (response) {
            let results = response;
            for (let j = 0; j < 5; j++) {
                let relatedArtist = results.artists[j].name;

                let displayRelatedArtist = $('<li style="color:white" class="search-keyword">' + relatedArtist + '</li>');

                $("#relatedArtistContainer").append(displayRelatedArtist);
            }

        });

    }

    function titleCase(str) {
        str = str.toLowerCase().split(' ');
        for (let i = 0; i < str.length; i++) {
            str[i] = str[i].split('');
            str[i][0] = str[i][0].toUpperCase();
            str[i] = str[i].join('');
        }
        return str.join(' ');
    }


    $("#add-artist").on("click", function (event) {
        event.preventDefault();
        getAccessToken(searchWithToken);
    });
    $(document).on("click", ".search-keyword", function (event) {
        event.preventDefault();
        clickedKeyword = $(this).text();
        getAccessToken(reSearch);
        $("#displayArtist").text($(this).text());

    });


});</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>