<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<h1><span th:text="${viewedUser}"></span>'s Profile</h1>

<div class="container">

<h1><span th:text="${viewedUser.username}"></span>'s Profile</h1>

<div th:if="${!isFollowing}" class="container">


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

</head>
<body>
<h1><span th:text="${viewedUser.username}"></span>'s Profile</h1>

<div th:if="${!isFollowing}" class="container">
    <form th:action="@{|/profile/${id}/follow|}" class="followBtn" th:method="post">
    <button  type="submit" >Follow</button>
    </form>
</div>

<div th:if="${isFollowing}" class="container">
    <form th:action="@{|/profile/${id}/unfollow|}" class="unfollowBtn" th:method="post">
        <button  type="submit" >Unfollow</button>
    </form>
</div>
<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
<br>
<br>
<br>
<div class="nav-item">
    <div sec:authorize="isAuthenticated()">
        <a class="nav-link" href="/events">Concert Punk Member's Events</a>
    </div>
</div>


<div th:each="event : ${User.events}">
    <h3 style="color:white" th:text="${event.title}"></h3>
    <img th:src="${event.getPhotos().get(0).imageUrl}">
    <div style="color:white" th:text="*{event.location}"></div>
    <div style="color:white" th:text="*{event.startTime}"></div>
</div>

</body>
</html>
</div>
</div>