<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

</head>
<body>
<h1><span th:text="${viewedUser}"></span>'s Profile</h1>
<div class="container">
    <form th:action="@{|/profile/${id}/follow|}" class="followBtn" th:method="post">
    <button  type="submit" >Follow</button>
    </form>
</div>



</body>
</html>
