<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="partials :: partials"></th:block>

    <style>* {
        box-sizing: border-box;
    }

    p {
        color: rgba(12, 105, 128, 0.99);
    }

    a {
        color: white;
    }


    video {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .section {
        color: black;
        padding: 20px 0
    }

    /*.section-b {*/
    /*    background: #333;*/
    /*    color: white;*/
    /*}*/
    </style>


    <title></title>
</head>


<body>
<nav th:replace="partials :: navbar"></nav>

<br>

<section class="section section-a">
    <h1 style="color: rgba(12, 105, 128, 0.99)"><p><b>Reviving Human Interaction Through The Power Of Music</b></p></h1>
<!--    <div class="container">-->
<!--    </div>-->
</section>

<br>

<div class="video-container">
    <video autoplay loop muted id="video-bg">

        <source src="/video/concert.mp4" type="video/mp4">

    </video>



    <section class="section section-b">
        <div class="container">
            <a style="color: rgba(12, 105, 128, 0.99)" href="/eventspage"><h1>Click Here To Find Local Music Events</h1></a>


<!--            <h2 style="color: rgba(12, 105, 128, 0.99)">Create A Member Profile</h2>-->
<!--            <br>-->
<!--            <h2 style="color: rgba(12, 105, 128, 0.99)"> Browse Save & Comment On Upcoming Events</h2>-->
<!--            <br>-->
<!--            <h2 style="color: rgba(12, 105, 128, 0.99)"> Purchase Music Event Tickets</h2>-->
<!--            <br>-->
<!--            <h2 style="color: rgba(12, 105, 128, 0.99)">Follow Concert Punk Members</h2>-->
<!--            <br>-->
        </div>
    </section>

    <section section-c>
        <div class="about">
            <h2 style="color:white">About Concert Punk </h2>
                        <p>Concert Punk was created by music enthusiast to give users the ability to seek and purchase concert tickets,
                            along with the ability to interact with other users through comments similar to social media platforms.
                            Create a profile page, follow other members and view their saved events.
                            Concert Punk offers users event search results from a multitude of different ticket purchasing sites,
                            all while having the ability to listen to their favorite artist via YouTube.
                            These options provide the user an all-in-one webpage in lieu of seeking information through multiple websites.
                            Welcome to Concert Punk, enjoy the experience.</p>
<!--            <h2 style="color:rgba(12, 105, 128, 0.99)">Discover Related Artist </h2>-->
        </div>
    </section>




</div>

</body>
</html>